/* submit button */


.submit{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 20px 0;

}
.submitButton{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 700;
	width: 300px;
	height: 50px;
	border: none;
	background-color: #3A7BD5;
	cursor: pointer;
	border-radius: 5px;
}

.submitButton:hover{
	opacity: 0.8;

}
/*Controls the contents width*/
.form {
	height: auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.ratingWrapper {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* flex-direction: column; */
}

/* professor input */
.profWrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.prof{
	width: auto;
	font-size: 24px;
	/* font-weight: 700; */
	padding-right: 40px;;	
}
.professorInput {
	width: 200px;
	height: 55px;
	margin-right: 10px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	/* border-bottom: 1px solid #3A7BD5; */
	border: 1px solid rgba(70, 70, 70, 0.34);
	border-radius: 10px;
	font-family: inherit;
	padding-left: 10px;
	font-size: 16px;

}
.professorInput:focus{
	outline: none;
}

/* Grade button*/
.gradeDropdown {
	width: 100%;
	height: 35px;
	border: none;
	background-color: rgba(0, 0, 0, 0.205);
	margin-right: 3px;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 0;
}

/* Divider */
.dividerContainer {
	display: flex;
	justify-content: left;
	width: 98%;
	margin: 0 auto;
}

.divider {
	width: 10%;
	height: 3px;
	background-color: #3A7BD5;
	margin-top: 40px;
	margin-bottom: 40px;
}

.dropdownWrapper{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.termWrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}
.term{
	composes: prof;
	margin-right: 60px;
}

.termInput {
	width: 100%;
}

.editoptions{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.deleteButton{
	composes: submitButton;
	color: #FFFFFF;
	/* background-color: #FFFFFF; */
	background-color: #FF0000;
}

.ratingDesc{
	font-size: 24px;
}

/* @media only screen and (max-width: 665px) {
	.form{
		width: 80%;
	
	}
	.ratingWrapper{
		justify-content: center;
		align-items: center;
	}
	.term{
		margin-right: 0;
		margin-bottom: 20px;
	}
	.termWrapper{
		width: 100%;
		flex-direction: column;
		align-items: left;
		justify-content: left;
	}
	.profWrapper{
		width: 100%;
		flex-direction: column;
	}
	.professorInput {
		width: 60%;
		margin: 10px 0;
	}	

} */



/* 
@media screen and (max-width: 400px){
	.ratingDesc{
		font-size: 21px;
	}
	.professorInput {
		width: 250px;
	}	
} */