/**********
Footer
**********/

/* .container{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
} */

.footer{
	font-family: Kite One;
	font-size: 16px;
	/* width: 500px; */
	width: 100%;
	height: 50px;
	z-index: 2;
	display: flex;
	justify-content: space-around;
	margin-top: auto;
}
.footerMain{
	composes: footer;
	left: 10px;
	bottom: 10px;
	position: absolute;


}
.link{
	text-decoration: none;
	color: #000;
}

.year{
		
}