/**********
Footer
**********/


.container{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.footer{
	font-family: Kite One;
	font-family: Lexend Tera;
	font-family: Montserrat;
	font-size: 20px;
	width: 80%;
	margin-bottom: 15px;
	z-index: 2;
	display: flex;
	justify-content: center;
	margin-top: auto;
}
.footerMain{
	composes: footer;
	width: 100%;
	bottom: 10px;
	position: absolute;
	margin: 0;
	justify-content: left;
}
.link{
	text-decoration: none;
	color: #000;

	margin-right: 20px;
	margin-left: 20px;
}
.year{
	width: auto;
	margin-left: 20px;
}

@media (max-width: 600px) {
	.footerMain{
		flex-direction: column-reverse;
		width: 100%;	
	}
	
}