.main {
	position: relative;
	padding-top: 100px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 105px);
}

.loginMain{
	composes: main;
	padding-top: 0;
	/* background-color: #7da3fc; */
}