<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div>
		Connected to backend of Deis Evaluation
	</div>
</body>
</html>

<style>
	body{
		background-color: rgb(255, 255, 255);
	}
	
	div {
		text-align: center;
		margin-top: 20%;
		font-size: 30px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}

	
</style>