

.link {
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 20px;
	font-weight: 400;
	color: var(--headline);

    transition: transform 0.3s ease; /* Smooth transition for transform property */
}

.linkLogin{
	composes: link;
	font-style: italic;
}

.navWrapper{
	width: 300px;
	height: 35px;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	/* position: fixed; */
	position: absolute;
	right: 80px;
	top: 40px;
	border-radius: 20px;
	border: 1px solid transparent;
	z-index: 100;

}

