/**********
Header
**********/
.logo{
	color: #000;
	font-family: PT Serif;
	position: fixed;
	align-self: center;
	top: 20px;	
	font-size: 30px;
}
.header{
	/* font-family: Kite One; */
	font-size: 24px;
	z-index: 3;
	display: flex;
	width: 100vw;	
	height: 100vh;
	background-color: #FFFFFF;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	transform: translateY(0%); 
	transition: transform 0.5s ease-in-out;
	/* visibility: visible; */
}

.headerHidden{
	/* visibility: hidden; */
	composes: header;
	transform: translateY(300%);
	transition: transform 0.5s ease-in-out;

}

.link {
    text-decoration: none;
    color: #000;
	/* color: #3A7BD5; */
	color:  #665555;
    margin-bottom: 20px;
    font-size: 40px;
	font-weight: 500;
	font-family: Montserrat;

    transition: transform 0.3s ease; /* Smooth transition for transform property */
}

.link:hover {
    transform: translateY(-5px); /* Moves the link up 5 pixels on hover */
}

.back{
	position: fixed;
	left: 20px;
	top: 20px;
	font-family: Kite One;
	font-size: 24px;
	z-index: 2;

}

.backIcon{
	font-size: 40px;
	vertical-align: middle;
	margin-top: -5px;
	margin-right: 10px;
}

.backWrapper{
	display: flex;
	justify-content: space-around;
	margin-left: 20px;	
	margin-top: 20px;
}

.backWrapper:hover{
	cursor: pointer;
}

.navWrapper{
	display: flex;
	flex-direction: column;
	left: 20%;
	position: absolute;
}

/* .footerWrapper{
	background-color: #FDFFEF;
	position: fixed;
	bottom: 0;
	width: 100vw;
} */


/* // ********** burger menu ********** // */

.burger{
	position: fixed;
	right: 40px;
	top: 40px;
	z-index: 3;
}
.iconmenu {
	--gap: 5px;
	--height-bar: 2.5px;
	--pos-y-bar-one: 0;
	--pos-y-bar-three: 0;
	--scale-bar: 1;
	--rotate-bar-one: 0;
	--rotate-bar-three: 0;
	width: 35px;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	cursor: pointer;
	position: relative;
  }
  
  .bar {
	position: relative;
	height: var(--height-bar);
	width: 100%;
	border-radius: .5rem;
	/* background-color: #9941fc; */
	background-color: #000;
  }
  
  .bar1 {
	top: var(--pos-y-bar-one);
	transform: rotate(var(--rotate-bar-one));
	transition: top 200ms 100ms, transform 100ms;
  }
  
  .bar2 {
	transform: scaleX(var(--scale-bar));
	transition: transform 150ms 100ms;
  }
  
  .bar3 {
	bottom: var(--pos-y-bar-three);
	transform: rotate(var(--rotate-bar-three));
	transition: bottom 200ms 100ms, transform 100ms;
  }
  
  .checkicon:checked + .iconmenu > .bar1 {
	transition: top 200ms, transform 200ms 100ms;
  }
  
  .checkicon:checked + .iconmenu > .bar3 {
	transition: bottom 200ms, transform 200ms 100ms;
  }
  
  .checkicon:checked + .iconmenu {
	--pos-y-bar-one: calc(var(--gap) + var(--height-bar));
	--pos-y-bar-three: calc(var(--gap) + var(--height-bar));
	--scale-bar: 0;
	--rotate-bar-one: 45deg;
	--rotate-bar-three: -45deg;
  }
  
  
  
  