

.link {
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 20px;
	font-weight: 400;
	color: var(--headline);

    transition: transform 0.3s ease; /* Smooth transition for transform property */
}

.linkLogin{
	composes: link;
	font-style: italic;
}

.navWrapper{
	width: 300px;
	height: 35px;
	padding: 10px 65px;
	display: flex;
	justify-content: space-between;
	/* position: fixed; */
	position: absolute;
	right: 80px;
	top: 40px;
	border-radius: 20px;
	border: 1px solid transparent;
	z-index: 100;
	animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
	0% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-right {
	0% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }