/* main page  */



.link{
	text-decoration: none;
	color: #000;
}

.top{
	height: 80vh;
	width: 100%;
}

/**********
background image
**********/
.background {
	/* position: fixed; */
	width: 100%;
	height: auto;
	/* z-index: 1; */
	background-color: #fff;
	background-size: cover;
	display: flex;
	flex-direction: column;	

}



/**********
shift text
**********/
.reviewNumContainer{
	display: flex;
	justify-content: center;
	z-index: 0;
	width: 100%;
	padding-top: 100px;

}
.reviewText{
	position: absolute;
	/* width: 100%; */
	display: flex;
	z-index: 0;
	font-size: 40px;
	font-family: Lexend Tera;

}
.reviewNum{
	font-size: 80px;
	margin-top: -30px;
	margin-left: 30px;
}
.searchContainer{
	display: flex;
	justify-content: center;
	/* position: absolute; */
	/* top: 30%; */
	margin-top: 200px;
	z-index: 0;
	width: 100%;
	align-items: center;
}
.arrowDown{
	transform: scale(0.7);
}


/**********
recent review 
**********/


.recentReviews{
	width: 100%;
	height: auto;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.recentReviewsTitle{
	font-family: Lexend Tera;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #272222;

	margin-bottom: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}


@keyframes shift {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0px);
    }
}


@media (max-width: 955px) {
	.title{
		/* font-size: 64px; */
	}
	
}

@media (max-width: 615px) {
	/* .titleContainer{
		top: 10%;
	} */


	/* .title{
		width: 80%;
		text-align: center;
	} */

	.reviewNum{
		font-size: 80px;
		margin-top: 0;
		margin-left: 0;
	}

	.reviewText{
		width: 80%;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.recentReviewsTitle{
		width: 80%;
		margin: 0 auto;
	}

	.searchContainer{
		margin-top: 300px;
	}
	
}