/* main page  */



.link{
	text-decoration: none;
	color: #000;
}

.block{
	height: 440px;
}

.image{
	/* height: calc(550px + 80px); */
	height: 90%;
	width: 100%;
	background-image: url(/statue.jpg);
	background-size: cover;
	/* background-position: 0 -150px; */
	background-repeat: no-repeat;
	position: fixed;
	filter: contrast(1.2);
	top: -80px;
	z-index: -1;
	/* overflow: hidden; */

}



/**********
background image
**********/
.background {
	/* position: fixed; */
	width: 100%;
	height: auto;
	/* z-index: 1; */
	/* background-color: #fff; */
	background-size: cover;
	display: flex;
	flex-direction: column;	

}

.shade{
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.27);
	z-index: 0;
}

/**********
shift text
**********/

.reviewNumContainer{
	display: flex;
	justify-content: center;
	background-color: #fff;
	z-index: 2;
	padding-bottom: 100px;
	padding-top: 100px;
	margin-top: -100px;
}
.reviewText{
	/* position: absolute; */
	/* width: 100%; */
	display: flex;
	z-index: 0;
	font-size: 40px;
	/* right: 40px; */

}
.reviewNum{
	font-size: 80px;
	margin-top: -30px;
	margin-left: 30px;
	/* font-style: italic; */
}
.searchContainer{
	display: flex;
	justify-content: center;
	position: absolute;
	/* position: fixed; */
	/* top: 30%; */
	/* top: 0; */
	/* margin-top: 200px; */
	z-index: 1;
	width: 100%;
	align-items: center;
	flex-direction: column;

}
.arrowDown{
	transform: scale(0.7);
}

.description{
	font-size: 50px;
	font-family: PT serif;
	margin-top: 5%;
	color: #fff;
	font-weight: 0;
	margin-bottom: 60px;

}


/**********
recent review 
**********/


.recentReviews{
	width: 100%;
	height: auto;
	padding-bottom: 100px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	/* z-index: 2; */


}

.recentReviewContainer{
	width: 80%;
	margin: 30px auto;
	display: flex;
	justify-content: space-between;


}

.recentReviewsTitle{
	font-family: Lexend Tera;
	font-family: PT Serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #272222;

	/* margin: 40px; */
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	
}


@keyframes shift {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0px);
    }
}


@media (max-width: 955px) {
	.description{
		font-size: 40px;
		margin-top: 70px;
	}
	
}

@media (max-width: 750px) {
	.description{
		font-size: 30px;
		margin-top: 70px;
	}
	.image{
		height: calc(800px + 80px);
	}
	
}


@media (max-width: 615px) {
	.image{
		height: calc(800px + 80px);
	}
	.block{
		height: 500px;
	}
	
	.description{
		font-size: 40px;
		/* margin-top: 70px; */
		margin: 70px 20px 70px 70px; 
	}


	
}

@media (max-width: 510px) {
	.image{
		height: calc(800px + 80px);
	}
	.block{
		height: 600px;
	}
	.description{
		font-size: 40px;
		/* margin-top: 70px; */
		margin: 70px 20px 70px 50px; 
	}

}