/* main page  */



.link{
	text-decoration: none;
	color: #000;
}

.block{
	height: calc(60vh - 80px);
}

.image{
	height: calc(60vh + 80px);
	width: 100%;
	background-image: url(/statue.jpg);
	background-size: cover;
	/* background-position: 0 -150px; */
	background-repeat: no-repeat;
	position: fixed;
	filter: contrast(1.2);
	top: -80px;
	z-index: -1;

}

@media (max-width: 1100px) {
	.image{
		/* background-position: 0 -100px; */
		/* height: 50vh; */
	}
	.block{
		/* height: 50vh; */
	}
}

@media (max-width: 900px) {
	.image{
		height: 50vh;
	}
}

@media (max-width: 800px) {
	.image{
		height: 40vh;
	}
	.block{
		height: 40vh;
	}
}

@media (max-width: 700px) {
	.image{
		background-position: 0 0;
		height: 30vh;
	}
	.block{
		height: 30vh;
	}
}

/**********
background image
**********/
.background {
	/* position: fixed; */
	width: 100%;
	height: auto;
	/* z-index: 1; */
	/* background-color: #fff; */
	background-size: cover;
	display: flex;
	flex-direction: column;	
}

.shade{
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.27);
	z-index: 0;
}

/**********
shift text
**********/
.reviewNumContainer{
	display: flex;
	justify-content: center;
	z-index: 0;
	width: 100%;
	padding-top: 100px;

}
.reviewText{
	position: absolute;
	/* width: 100%; */
	display: flex;
	z-index: 0;
	font-size: 40px;
	font-family: Lexend Tera;

}
.reviewNum{
	font-size: 80px;
	margin-top: -30px;
	margin-left: 30px;
}
.searchContainer{
	display: flex;
	justify-content: center;
	position: absolute;
	/* top: 30%; */
	/* top: 0; */
	/* margin-top: 200px; */
	z-index: 1;
	width: 100%;
	align-items: center;
	flex-direction: column;
}
.arrowDown{
	transform: scale(0.7);
}

.description{
	font-size: 50px;
	font-family: PT serif;
	margin-top: 5%;
	color: #fff;
	font-weight: 0;
	margin-bottom: 60px;
}


/**********
recent review 
**********/


.recentReviews{
	width: 100%;
	height: auto;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	z-index: 2;
}

.recentReviewContainer{
	width: 80%;
	margin: 30px auto;

}

.recentReviewsTitle{
	font-family: Lexend Tera;
	font-family: PT Serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #272222;

	/* margin: 40px; */
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	
}


@keyframes shift {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0px);
    }
}


@media (max-width: 955px) {
	.title{
		/* font-size: 64px; */
	}
	
}

@media (max-width: 615px) {
	/* .titleContainer{
		top: 10%;
	} */


	/* .title{
		width: 80%;
		text-align: center;
	} */

	.reviewNum{
		font-size: 80px;
		margin-top: 0;
		margin-left: 0;
	}

	.reviewText{
		width: 80%;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.recentReviewsTitle{
		width: 80%;
		margin: 0 auto;
	}

	.searchContainer{
		margin-top: 300px;
	}
	
}