@charset 'utf-8';

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

html {
	font-family: Montserrat;
	/* Firefox */
	scrollbar-width: none;
	background-color: #FDFFEF;
	background-color: #ffffff;

	padding: 0;
	margin: 0;

}

::-webkit-scrollbar {
	display: none;
}