h1{
	margin: 20px
}
p{
	text-align: center;
}

/* Divider */
.dividerContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

.divider {
	width: 10%;
	height: 3px;
	background-color: #3A7BD5;
	margin: 20px 0 20px 20px;
}

.title{
	text-align: center;
	font-family: Kite One;
	font-family: Montserrat;

	font-size: 30px;
	font-weight: 400;
}

.nosaved{
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	margin-top: 20vh;
}

@media screen and (max-width: 600px) {
	.title{
		margin-top: 50px;
	}
	.nosaved{
		font-size: 15px;
	}
}