
.review {
	color: rgba(16, 20, 34, 0.771);
}

.titleContainer {
	height: 150px;
	width: 100%;
	margin-top: -20px;
	display: flex;
	justify-content: center;
	/* box-shadow: 0 2px 20px 4px rgba(0, 0, 0, 0.1); */
}

.title {
	padding-top: 50px;
	margin-left: 55px;
	font-size: 30px;
	font-weight: 700;
	width: 80%;
}

.titleSpan {
	font-weight: 400;
}

.reviewContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	margin-top: 50px;
}




/* submited page */

.submittedTextContainer{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 200px;
	flex-direction: column;
}

.submittedText{
	font-weight: 400;
	text-align: center;
}

.error{
	text-align: center;
	color: red;
	font-size: 16px;
	font-weight: 700;
}

.loadingContainer{
	text-align: center;
	margin-top: 100px;
}
.backContainer{
	display: flex;
	justify-content: center;
}
.back{
	font-size: 20px;
	font-weight: 700;
	border: none;
	background: none;
	font-family: 'Montserrat', sans-serif;
	margin-top: 50px;
}
.back:hover{
	cursor: pointer;
	transform: scale(1.1);	
}	

@media only screen and (max-width: 600px) {
	.back{
		font-size: 30px;
	}
}