
.review {
	color: rgba(16, 20, 34, 0.771);
}

.titleContainer {
	height: 150px;
	width: 100%;
	margin-top: -20px;
	display: flex;
	justify-content: center;
	/* box-shadow: 0 2px 20px 4px rgba(0, 0, 0, 0.1); */
}

.title {
	padding-top: 50px;
	margin-left: 55px;
	font-size: 30px;
	font-weight: 700;
	width: 80%;
}

.titleSpan {
	font-weight: 400;
}

.reviewContainer {
	display: flex;
	justify-content: center;
}




/* submited page */

.submittedTextContainer{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 200px;
}

.submittedText{
	font-weight: 400;
}

.error{
	text-align: center;
	color: red;
	font-size: 16px;
	font-weight: 700;
}

.loadingContainer{
	text-align: center;
	margin-top: 100px;
}

